/*slider*/
.slider-div {
  margin: 45px;
  margin-left: 10vw;
  width: 80vw;
  height: 600px;
  border-radius: 50px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 80vw;
  height: 600px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: 50px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 3px solid rgb(15, 212, 48);
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: rgba(15, 226, 15, .9);
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 550px;
  margin-left: 200px;
}

.navigation-auto div {
  border: 3px solid rgb(15, 212, 48);
  padding: 7px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: rgba(15, 226, 15, .9);
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: rgba(15, 226, 15, .9);
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: rgba(15, 226, 15, .9);
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: rgba(15, 226, 15, .9);
}