@import url(header-style.css);
@import url(footer-style.css);
body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

img {
    max-width: 100%;
    width: 600px;
}

.P {
    color: black;
    text-align: center;
}

.a-products {
    margin-left: 30px;
    color: black;
    font-size: 14pt;
}

/*CSS FLEXBOX/grid  products*/

.grid {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

/* zoom products img*/

div img {
    margin-bottom: -40px;
    padding: 50px;
    transition: transform .2s;
    width: 220px;
    height: 220px;
}

div img:hover {
    transform: scale(1.1);
}

.grid>div {
    flex: 1 0 200px;
    margin: 10px;
}

.fa-trash {
    color: red;
    margin-left: 20px;
}

/*featured/latest products*/

.row {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.featured-products, .latest-products{
    padding: 10px;
    min-width: 200px;
    text-align: center;
}
