@import url(header-style.css);
@import url(footer-style.css);

body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

img {
    max-width: 100%;
    width: 600px;
    display: block;
}

.P {
    color: black;
    text-align: center;
}

/*CSS FLEXBOX/grid  products*/

.grid {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
/* zoom products img*/
div img {
    padding: 50px;
    transition: transform .2s;
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

div img:hover {
    transform: scale(1.2);
}

.grid>div {
    flex: 1 1 200px;
    margin: 10px;
}
