@import url(global.css);

h4 {
    margin: 0;
}

#div-1 {
    height: 600px;
    background: url(https://cdn.stocksnap.io/img-thumbs/960w/man-child_ALW7AN344Z.jpg);
    background-size: cover;
}

#div-1>h1 {
    margin: auto;
    text-align: center;
    padding-top: 55vh;
    padding-right: 40vw;
}

#div-2 {
    background: url(https://cdn.stocksnap.io/img-thumbs/960w/sun-trees_BPWSN5EFQC.jpg);
    height: 600px;
    background-size: cover;
}
#h1-1-div-2 {
    padding-top: 10vh;
    padding-right: 10vw;
    text-align: right;
}

#h1-2-div-2 {
    padding-left: 10vw;
    padding-top: 10vh;
    text-align: left;
}

#div-3 {
    background: url(https://cdn.stocksnap.io/img-thumbs/960w/tree-silhouette_8GDYH5XYCO.jpg);
    height: 600px;
    background-size: cover;
}

#div-3>h1 {
    padding-top: 40vh;
    text-align: center;
}

#div-4 {
    background: url(https://www.localfutures.org/wp-content/uploads/D533D33B-2A86-4D13-84DF-A2FF6FFC7D7B-scaled.jpeg);
    height: 600px;
    background-size: cover;
}

#div-4>h1 {
    padding-top: 20vh;
    padding-right: 10vw;
    text-align: right;
}


/*categories*/

.categorie {
    text-align: center;
    margin: 150px 0;
    flex-basis: 30%;
    min-width: 250px;
}

.categorie>a>img {
    width: 380px;
    height: 500px;
    min-width: 250px;  
}

/*featured-offers*/

.featured-offer{
    margin: 50px;
}
.featured-offer>h2 {
    text-align: center;
}

.offer-info, .offer{
    margin: 20px;
}

.offer-info{
    text-align: center;
    margin-left: 120px;
    margin-top: 130px;
}

.offer>a>img{
    height: 400px;
    width: 400px;
}

#buy-btn {
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    height: 40px;
    font-size: 12pt;
    color: black;
    border-style: none;
    background: rgb(15, 212, 48);
    border-radius: 12px;
}

/*imgs-zoom effect*/

.products-img>img, .categorie>a>img, .offer>a>img{
    transition: transform .2s;
}

.products-img>img:hover, .categorie>a>img:hover, .offer>a>img:hover {
    transform: scale(1.1);
}
